.messanger {
    width: 70%;
    height: 100vh;
    background: var(--color-background-secondary);
}

.messanger > .navbar {
    background-color: white;
    color: #333;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.messanger > .navbar > div {
    display: flex;
}

.messanger > .navbar ul {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.messanger > .navbar ul li {
    display: inline-block;
    padding: 10px 15px;
    border-left: 1px rgba(155,155,155,0.3) solid;
    color: #8a8a8a;
    font-weight: 300;
    cursor: pointer;
    transition: .3s ease-in;
}

.messanger > .navbar ul li:first-child {
    border: none;
}

.messanger > .navbar ul li:hover {
    color: #333;
    background: rgba(155,155,155,0.1);
}

.messanger > .message-content {
    height: calc(100vh - 160px);
    padding: 60px 30px;
}

.messanger > .message-content .message-box {
    margin-bottom: 15px;
}

.messanger > .message-content .message-box.ai {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.messanger > .message-content .message-box.ai > div {
    flex-direction: row-reverse;
}

.messanger > .message-content .message-box.ai > span {
    margin-right: 55px;
    background: white;
    padding: 5px 10px;
    border-radius: 20px;
    border-top-right-radius: 0;
    margin-top: -10px;
}

.messanger > .message-content .message-box div {
    display: flex;
}

.messanger > .message-content .message-box.user div div {
    margin-right: 15px;
}

.messanger > .message-content .message-box.user > span {
    margin-left: 55px;
    background: var(--color-background-primary);
    color: rgba(222,222,222,0.8);
    padding: 5px 10px;
    border-radius: 1.1rem;
    border-top-left-radius: 0;
    float: left;
    margin-top: -10px;
}

.messanger > .message-send {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 30px;
}

.messanger .message-send input {
    border: none;
    border-bottom: 1px rgba(155,155,155,0.3) solid;
    padding: 15px 0px;
    width: 70%;
    transition: .3s ease;
}

.messanger .message-send button {
    background: white;
    padding: 8px 30px;
    border: none;
    border-radius: 0.2rem;
    border: 2px var(--color-background-primary) solid;
    cursor: pointer;
    transition: .3s ease;
}

.messanger .message-send input:hover,
.messanger .message-send input:focus {
    border-color: #333;
    outline: none;
}

.messanger .message-send button:hover {
    color: white;
    background: var(--color-background-primary);
}

.messanger .begin-conversation {
    width: 100%;
    text-align: center;
    align-self: center;
    justify-self: center;
    /* justify-items: center; */
    height: 50px;
    line-height: 50px;
    color: #8a8a8a;
    font-style: italic;
    font-weight: 700;
}