.sidebar {
    width: 30%;
    height: 100vh;
    background-color: var(--color-background-primary);
    color: var(--color-text-secondary);
    padding: 30px;
    padding-top: 0;
}

.sidebar > .sidebar-header {
    width: 100%;
    text-align: center;
    color: var(--color-text-secondary);
    height: 80px;
    border-bottom: 1px var(--color-text-tertiary) solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar > .sidebar-header > h1 {
    margin: 0;
    color: var(--color-text-primary)
}

.sidebar > .content {
    padding: 30px 0px;
    height: calc(100vh - 90px - 40px);
}

.sidebar > .social-icons {
    display: flex;
    justify-content: center;
    border-top: 1px var(--color-text-tertiary) solid;
    height: 50px;
}

.sidebar > .social-icons a {
    color: var(--color-text-primary);
    margin-right: 10px;
    font-size: 1.2rem;
    padding-top: 10px;
}

@media (max-width: 1200px) {
    .sidebar > .content {
        font-size: 0.9rem;
    }
}